@model CrewDetailsEditViewModel
@section CssFile {
    <link href="~/css/admin.min.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "Edit Crew";
}

<section class="section create-section form-section">
    <h2 id="section-header" class="section-title position-relative text-center my-1">Edit</h2>
    <div class="container">
        <form id="form" method="post" enctype="multipart/form-data" asp-action="Edit">

            <div class="card-front my-5 m-auto p-3">
                <div class="row">

                    <div class="img-details d-flex justify-content-center mb-2 overflow-hidden">
                        <img id="form-image" src="~/@Model.ExistPhoto" />
                    </div>
                    <div class="col-12 form-group position-relative mt-4">
                        <label asp-for="CrewName"></label>
                        <input id="name" asp-for="CrewName" class="input-field" readonly>
                        <i class="fas fa-user details-icon"></i>
                    </div>
                    <div class="col-12 form-group position-relative mt-4">
                        <label asp-for="CrewBiography"></label>
                        <input id="description" asp-for="CrewBiography" class="input-field" readonly>
                        <i class="fas fa-info details-icon"></i>
                    </div>

                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="NationalityId"></label>
                        <input asp-for="NationalityName" class="input-field" readonly>
                        <i class="far fa-map-marked-alt details-icon"></i>
                    </div>

                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="CrewRoleId"></label>
                        <input asp-for="CrewRoleName" class="input-field" readonly>
                        <i class="far fa-user-secret details-icon"></i>
                    </div>

                    <div class="col-12 col-md-6 form-group position-relative my-4">
                        <label asp-for="CrewDateofBirth"></label>
                        @{var date = Model.CrewDateofBirth.Date.ToString("dd/MM/yyyy"); }
                        <input value="@date" type="text" class="input-field" readonly>
                        <i class="far fa-calendar-alt details-icon"></i>
                    </div>


                    <div class="col-12 form-group my-4 d-flex flex-column flex-sm-row justify-content-around">
                        <a asp-action="Edit" asp-route-id="@Model.CrewId" class=" btn btn-success fs-5 px-5 py-2 mb-3 mb-sm-0">Edit</a>
                        <a asp-action="Index" class="btn btn-danger fs-5 px-5 py-2">Back</a>
                    </div>

                </div>
            </div>

        </form>
    </div>
</section>













