@model BookingTicketsViewModel
@{
    ViewData["Title"] = "Checkout";
}

<section class="checkout-card">
    <div class="center">
             <div class="img-container">
                <img src="https://img.icons8.com/bubbles/200/000000/trophy.png">
            </div>
        <div class="text text-center">
            <h4 class="main-color">CONGRATULATIONS!</h4>
            <p>You have been Received Ticket</p>
              <a class="btn btn-main mt-2" asp-area="" asp-controller="Home" asp-action="Index">Back Home</a>
        </div>
    </div>
</section>