@{
    ViewData["Title"] = "Access Denied";
}

<section class="not-found">
    <div class="center">
        <div class="error">
            <div class="number">4</div>
            <div class="img-container">
                <img class="not-found-img" src="~/images/AccessDenied/not-Found.png">
            </div>
            <div class="number">4</div>
        </div>
        <div class="AccessDenied">Access Denied</div>
        <div class="AccessDenied-text">Oops. You do not have persmission to view this resource.</div>
        <a class="btn btn-main mt-5" asp-area="" asp-controller="Home" asp-action="Index">Back Home</a>
    </div>
</section>
