@model ForgotPasswordViewModel
@section CssFile {
    <link href="~/css/main.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "Forgot Password";
}

<section class="section create-section form-section">
    <div class="container">
        @if (Model?.IsSend == true)
        {
            <div class="alert alert-success alert-dismissible fade show m-auto my-5 alert-create d-flex align-items-center" role="alert">
                <i class="far fa-info-circle fs-4 pe-2"></i>
                <div>
                    <span> We Send Email. Please go to your Email To Change your Password. </span>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            <form asp-action="ForgotPassword">
                <div class="card-front my-5 m-auto p-3">
                    <h4 class="mb-4 pb-3 content-title text-center">Forgot Password</h4>
                    <div class="row">
                        <div class="col-12 form-group position-relative mt-4">
                            <input asp-for="Email" class="input-field" placeholder="Email Address" autocomplete="off">
                            <i class="far fa-user input-icon"></i>
                            <span asp-validation-for="Email" class="input-validation"></span>
                        </div>

                        <div asp-validation-summary="ModelOnly" class="input-validation"> </div>

                        <div class="col-12 form-group my-4">
                            <input type="submit" value="Continue" class="btn btn-main fs-5 mt-2 px-3 py-2">
                        </div>
                    </div>
                </div>

            </form>
        }

    </div>
</section>

