@{
    ViewData["Title"] = "Error";
}

<section class="not-found">
    <div class="center">
        <div class="error my-5">
            <div class="img-container">
                <img class="not-found-img" src="~/images/AccessDenied/not-Found.png">
            </div>
        </div>
        <div class="AccessDenied-text">Oops. An error occurred while processing your request.</div>
        <a class="btn btn-main mt-5" asp-area="" asp-controller="Home" asp-action="Index">Back Home</a>
    </div>
</section>
